



@keyframes example {
  from {transform: scale(1);}
  to {transform: scale(1.2);}
}

.animated-title {
  transform: scale(1);
  animation-name: example;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  transition: all 0.2s ease-in-out;
}

.fr1 {
  animation-delay: 1s;
}

.fr2 {
  animation-delay: 1.7s;
}
.fr3 {
  animation-delay: 2.4s;
}
.fr4 {
  animation-delay: 3.1s;
}
.fr5 {
  animation-delay: 3.8s;
}
