
.backBtn div div svg {
  transform: translateX(160%);
  transition: all 0.5s ease;
}

.backBtn div:hover div svg {
  transform: translateX(-18%);
}

.backBtn div .text {
  opacity: 0;
  transition: all 0.5s ease;
}
.backBtn div:hover .text {
  opacity: 1;
}


