

.col-common {
  display: flex;
  flex-direction: column;
}
.col-reverse-common {
  display: flex;
  flex-direction: column-reverse;
}

@media (max-width: 1150px)
{
  .col-responsive {
    flex-direction: row;
  }
  .full-width-responsive {
    width: 100% !important;
  }
}

