.ant-btn  {
  > .anticon + strong,
  > strong + .anticon {
    margin-left: 8px;
  }

  &.ant-btn-lg {
    .anticon {
      font-size: 20px;
      vertical-align: -0.235em;
    }
  }

  &.btn-green,
  &.btn-orange {
    color: #ffffff;
    border-color: #ffffff;

    &:hover {
      border-color: #ffffff;
      color: #ffffff;
    }
  }

  &.btn-line-blue {
    color: #0062FF;
    border-color: #0062FF;

    &:active,
    &:focus,
    &:hover {
      color: #2982ff;
      border-color: #2982ff;
    }
  }

  &.btn-green {
    background-color: rgba(61, 213, 152, 1);

    &:active,
    &:focus,
    &:hover {
      background-color: rgba(61, 213, 152, 0.85);
    }
  }

  &.btn-orange {
    background-color: rgba(255, 151, 74, 1);

    &:active,
    &:focus,
    &:hover {
      background-color: rgba(255, 151, 74, 0.85);
    }
  }
}

