
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}
html, body, #root {
  height: 100%;
  // background: @body-background;
}
body {
  -webkit-font-smoothing: antialiased;
  color: #5C6A79;
}
body, input, button {
  font: 14px 'Nunito', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
.ant-layout {
  height: 100%;
}
.Toastify__toast {
  border-radius: 6px;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title, .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title, .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  font-size: small;
}
.ant-form {
  width: 100%;
}
.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: none !important;
}
.ant-collapse-borderless > .ant-collapse-item:last-child, .ant-collapse-borderless > .ant-collapse-item:last-child .ant-collapse-header {
  border-radius: 8px;
}
.ant-collapse-content {
  background-color: #fff !important;
}
.lightbox-backdrop {
  z-index: 1000 !important;
}
