@import './theme.less';
@import './global.less';
@import './form.less';
@import './button.less';
@import './modal.less';

.yellow-bordered-box {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  background-color: rgba(255, 197, 66, 0.21);

  span:not(.ant-tag) {
    color: rgb(143, 143, 162);
  }
}

.ant-spin-spinning {
  max-height: unset !important;
}

.report {
  iframe {
      border: 0 !important;
  }
}
.ant-picker {
  border-radius: 5px;
}
