.modal-warning-fullred {
  .ant-modal-content {
    background-color: rgba(252, 90, 90, 1);
    color: rgba(255, 255, 255, 1);

    .ant-modal-confirm-content,
    .ant-modal-confirm-title {
      color: inherit;
    }
  }
  .ant-btn {
    &.ant-btn-default {
      color: rgba(252, 90, 90, 1);
      border-color: rgba(252, 90, 90, 1);

      &:active,
      &:hover {
        color: rgba(252, 90, 90, 0.8);
        border-color: rgba(252, 90, 90, 0.8);
      }
    }
    &.ant-btn-background-ghost {
      color: rgba(255, 255, 255, 1);
      border-color: rgba(255, 255, 255, 1);

      &:active,
      &:hover {
        color: rgba(255, 255, 255, 0.8);
        border-color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}
