@blue-6: #0062ff; // primary color for all components

// Base Scaffolding Variables
// ---

// Background color for `<body>`
@body-background: #fff;
// Base background color for most components
@component-background: #fff;

@primary-color: @blue-6;
@text-color: rgba(14, 21, 31, 1);
@font-family: 'Nunito', sans-serif;
@font-size-base: 14px;
@border-radius-base: 5px;

// vertical paddings
@padding-lg: 24px; // containers
@padding-md: 16px; // small containers and buttons

// Border color
@border-color-base: #B1B1B7; // base border outline a component

// Layout
@layout-header-background: #ffffff;
@layout-body-background: transparent;

// Layout light theme
//@layout-sider-background-light: #fff;
//@layout-trigger-background-light: #fff;
@layout-trigger-color-light: @text-color;

// Menu
// ---
@menu-inline-toplevel-item-height: 42px;
@menu-item-height: 52px;
@menu-bg: @component-background;
@menu-popup-bg: @component-background;
@menu-item-color: @text-color;
@menu-highlight-color: @primary-color;
@menu-item-active-bg: @component-background;
@menu-item-active-border-width: 0;

// Input
// ---
@input-height-lg: 48px;

// Buttons
@btn-padding-base: 0 @padding-md - 1px;
@btn-border-radius-base: 10px;
@btn-border-radius-sm: 10px;
@btn-font-size-lg: 12px;
@btn-font-size-sm: 10px;
@btn-padding-lg: @btn-padding-base;
@btn-height-lg: 38px;

