@font-face{
  font-family: MADETommySoftLight;
  src: url(assets/fonts/madetommy/MADETommySoftLight.otf), format('opentype');
}
@font-face{
  font-family: MADETommySoftRegular;
  src: url(assets/fonts/madetommy/MADETommySoftRegular.otf), format('opentype');
}
@font-face{
  font-family: MADETommySoftBold;
  src: url(assets/fonts/madetommy/MADETommySoftBold.otf), format('opentype');
}
@font-face{
  font-family: MADETommySoftBlack;
  src: url(assets/fonts/madetommy/MADETommySoftBlack.otf), format('opentype');
}
@font-face{
  font-family: Nunito-Light;
  src: url(assets/fonts/nunito/Nunito-Light.ttf), format('truetype');
}
@font-face{
  font-family: Nunito-Regular;
  src: url(assets/fonts/nunito/Nunito-Regular.ttf), format('truetype');
}
@font-face{
  font-family: Nunito-Black;
  src: url(assets/fonts/nunito/Nunito-Black.ttf), format('truetype');
}
body {
  height: 100.1%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Nunito;
  /* background-image: url("assets/images/bg-loop.png"); */
}

.antd-header-input .ant-input-affix-wrapper {
  background-color: transparent;
  border-color: #fff;
  border-right-width: 0px;
}

.antd-header-input .ant-input {
  background-color: transparent;
  color: white;
}

.antd-header-input .ant-input {
  background-color: transparent;
  color: white;
}

.antd-header-input .ant-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
}

.antd-header-input .ant-input-group-addon {
  background-color: transparent;
  color: white;
}
.antd-header-input .ant-input-group-addon .ant-btn {
  background-color: transparent;
  color: white;
  border-color: #fff;
  border-left: 0;
}

.antd-header-input .ant-input-group-addon .ant-btn .anticon svg {
  fill: white;
}
.ant-input.antd-transparent-text-area {
  background-color: transparent;
  border-color: #fff;
  margin-top: 10px;
  height: 130px;
  color: white;
}

.ant-input.antd-transparent-text-area::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
}
.antd-header-input > .ant-input-wrapper > .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: white transparent white white !important;

}

.antd-header-input .ant-input:hover {
  border-color: white !important;
}

.antd-transparent-text-area.ant-input:focus, .antd-transparent-text-area.ant-input-focused, .antd-transparent-text-area.ant-input:hover {
  border-color: white !important;
}

.antd-login-input {
  border-width: 0 0 2px 0 !important;
  border-radius: 0px !important;
  border-color: #ececec !important;
  padding-block: 20px !important;
  color: white;
}

.antd-login-input.ant-input-affix-wrapper:focus, .antd-login-input.ant-input-affix-wrapper-focused {
  box-shadow: unset !important;
  border-right-width: 0px !important;
}

.antd-login-input.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-right-width: 0px !important;
}

.ant-modal.login-modal > .ant-modal-content {
  border-radius: 30px !important;
}
.antd-calendar-select .ant-select-arrow {
  right: 13px;
  top: 46%;
}

/*
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: white !important;
}
.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
  border-color: white !important;
  border-right-width: 0 !important;
  box-shadow: 0 0 0 2px transparent !important;
}

.ant-input:focus, .ant-input-focused {
  border-color: white !important;
}*/


.hoverable-white-btn {
  background-color: rgba(255,255,255,0.8) !important;
  transition: all 0.5s ease !important;
}
.hoverable-white-btn:hover {
  background-color: rgba(255,255,255,1) !important;

}
.hoverable-grow-btn {
  width: 120px;
  transition: all 0.2s ease-in !important;
}

.hoverable-grow-btn:hover {
  letter-spacing: 2px;
}

.hoverable {
  cursor: pointer;
}

.hoverable:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border: 0px none #ffffff;
  border-radius: 23px;
}
::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
::-webkit-scrollbar-thumb:active {
  background: #9e9e9e;
}
::-webkit-scrollbar-track {
  background: #e6e6e6;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #e0e0e0;
}
::-webkit-scrollbar-track:active {
  background: #dbdbdb;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
